<!-- Favicon -->
<link rel="shortcut icon" href="/origins/universal/images/favicon/favicon.ico">
<!-- Apple Touch - iOS 7 -->
<link rel="apple-touch-icon" sizes="152x152" href="/origins/universal/images/favicon/apple/apple-touch-icon-152x152.png">
<!-- Apple Touch - iOS 8 -->
<link rel="apple-touch-icon" sizes="180x180" href="/origins/universal/images/favicon/apple/apple-touch-icon-180x180.png">
<!-- Android - Chrome < M38 -->
<link rel="icon" type="image/png" href="/origins/universal/images/favicon/android/android-chrome-192x192.png" sizes="192x192">
<!-- Android - Chrome M39 -->
<link rel="manifest" href="/origins/universal/images/favicon/manifest.json">
<!-- Microsoft - Windows Phone/Windows 8 -->
<meta name="msapplication-config" content="/origins/universal/images/favicon/browserconfig.xml">
<meta name="msapplication-TileImage" content="/origins/universal/images/favicon/windows/mstile-144x144.png">
<meta name="msapplication-TileColor" content="#004489">